.item {
    width: 350px;
    display: block;
    color: #171717;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.item p {
    margin: 6px 0px;
}

.item-prices {
    display: flex;
    gap: 20px;
}

.item-price-new {
    color: rgb(102, 98, 98);
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
}
